html,
body {
    margin: 0;
}
canvas{
    margin: 2vmin;
}
#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    box-sizing: border-box; 
}
#canvas{
    width: 96vmin;
    height: 96vmin;
    box-sizing: border-box;
}
#chart{
    width: 96vmin;
    height: 96vmin;
    box-sizing: border-box;
}
.save-row{
    display: none;
}
.close-button{
    display: none;
}